@font-face {
  font-family: SF Pro Display;
  src: url('../assets/fonts/SFProDisplay-Ultralight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: SF Pro Display;
  src: url('../assets/fonts/SFProDisplay-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: SF Pro Display;
  src: url('../assets/fonts/SFProDisplay-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: SF Pro Display;
  src: url('../assets/fonts/SFProDisplay-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: SF Pro Display;
  src: url('../assets/fonts/SFProDisplay-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: SF Pro Display;
  src: url('../assets/fonts/SFProDisplay-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: SF Pro Display;
  src: url('../assets/fonts/SFProDisplay-Heavy.ttf');
  font-weight: 800;
}

//
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/helvetica-neue/helvetica-neue-medium.ttf');
  font-weight: 400;
}
// @font-face {
//   font-family: Helvetica Neue;
//   src: url('../assets/fonts/helvetica-neue/helvetica-neue-bold.ttf');
//   font-weight: 500;
// }
// @font-face {
//   font-family: Helvetica Neue;
//   src: url('../assets/fonts/helvetica-neue/helvetica-neue-bold.ttf');
//   font-weight: 600;
// }
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/helvetica-neue/helvetica-neue-bold.ttf');
  font-weight: 700;
}
